{% extends 'wrapper.html' %}

{% block head_tags %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">Stripe.setPublishableKey('pk_test_p0c5Rc1Mjs0cY9GfbzMhieLi');</script>
{% endblock head_tags %}

{% block content %}
<div class="container">
  <h1>Product</h1>
  {% for product in product_list %}
  <div>
    <p>{{ product.description }}</p>
    <p>{{ product.user.user_handle }} </p>
    <p>{{ product.price }}</p>
    <img width="150px" height="180px" src="{{MEDIA_URL}}{{product.image}}"/>
    <button class="btn btn-primary cartbtn" data-product_id="{{ product.id }}">Add to Cart</button> 
  </div>
  {% endfor %}
</div>

<script>
$('.cartbtn').click(function(event){
  $.post(
     "{% url 'carts:index' %}", 
     { 
        product_id: $(this).data('product_id'), 
        csrfmiddlewaretoken: '{{ csrf_token }}' 
     }
  );

});
</script>

{% endblock content %}
